*{
    box-sizing: border-box;
    padding: 0%;
    margin:0% ;
  
}


header{
    width: 100%;
    height:10vb;
    background-color:rgb(255, 255, 255);
    display: flex;
  
}
.logo{
background-color: rgba(0, 0, 255, 0);
width: 25%;
height: auto;
position: relative;
}
.logo1{
    
    width: 100%;
    position: absolute;
    top: -70%;

}
.menu{
    background-color: rgba(231, 8, 175, 0);
    width: 50%;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
    justify-content: space-evenly;
    margin-top: 4%;
    font-family: 'Quicksand', sans-serif; 
    font-size: 1.2rem;
    letter-spacing:0.14rem;
  
    font-weight: 600;
    color: inherit;
    
}

.login{
    background-color: rgba(14, 167, 9, 0);
    width: 25%;
    
}
.one{
    background-color: rgba(231, 17, 17, 0);
    width: 34%;
    height: auto;
    color: aliceblue;
    font-family: 'Quicksand', sans-serif; 
  
    
}
.two{
    background-color: rgba(49, 224, 14, 0);
    width: 37%;
    

    
    
    
}
.three{
    background-color: rgba(30, 5, 255, 0);
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
 
    
}
.minmenu{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: auto;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 22;
   
}

.menuhamb{
    display: none;
}

/* page one */

/* culction */
.two1{
    background-color: #bbbbbb;
    height: 100vh
}
.main_divv1{
    width: 100%;
    height: auto;
    
}
.main_divv{
    display: flex;
    width:80%;
    height: 100vmin;
  margin-left: 15%;
   
    
}
.man{ 
    margin-right: 3vmin;
    margin-top: 3vmax;
    width: 30% ;
    height: 33vmax;
    background-image: url(kdis25.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
    border-radius:20px 20px;
}

.mancluction{
    width: 70%;
    background-color: #d3d3d369;
    height: auto;
    margin-left: 15%;
    padding-bottom: 4%;
    margin-top: 5%;
    border-radius: 20px 20px ;
    

}
.mancluction1{

    width: 70%;
    background-color: #d3d3d369;
    height: auto;
    margin-left: 15%;
    padding-bottom: 4%;
    margin-top: 40%;
    border-radius: 20px 20px ;
    padding-top: 4%;
    color: aliceblue;

}
.mancluction2{
    width: 70%;
    background-color: #d3d3d369;
    height: auto;
    margin-left: 15%;
    padding-bottom: 4%;
    margin-top: 65%;
    border-radius: 20px 20px ;
    padding-top: 4%;

}
.kid{
    margin-right: 3vmin;
    margin-top: 10vmax;
    height: auto;
    width: 30% ;
    height:33vmax;
    background-image: url(thisboys.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px 20px ;
}
.woman{
    height: 500vmin;
    margin-top: 15vmax;
    width: 30% ;
    height:34vmax;
    background-image: url(girlclu.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px 20px ;
}
.woman:hover,.kid:hover,.man:hover{
    
    background-size: 110%;
}


.btnvv3:hover ,.btnvv2:hover,.btnvv1:hover{
    background-color: rgb(0, 0, 0) !important;
    color: #ececec;
}


/* service */ 
.page4{
    background-color: #ececec;;
    width: 100%;
    height:100vh ;
}
.box{
    width: 100%;
  
    height: max-content;
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
}
.mainbox{

    display: flex;
    margin-left: 15%;
    margin-right: 9%;
    font-family: 'Quicksand', sans-serif; 

}
.sideonebox{
    width: 50%;
    background-color: rgba(16, 243, 8, 0);
    margin-top: 4%;
    display: flex;
   
   
}
.sidetwobox{
    width: 50%;
    background-color: rgba(14, 12, 82, 0);
    display: flex;
    margin-top: 4%;
    font-family: 'Quicksand', sans-serif; 
    
}
.textService{
    font-size: 2vh;
    margin-left: 2%;
    font-family: 'Quicksand', sans-serif; 
  
}
.Service{
    font-size: 3.8vh;
    margin: 0%;
    margin-top: 2%;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 700;
    margin-bottom:2%;
   
}
.maibservice,.maibservice1{
    width: 70%;
    font-family: 'Quicksand', sans-serif; 
}

/* footer */
.up{
    width: 100%;
    height:auto;
   

}
.down{
    width: 100%;
    height: auto;
    background-color: #ececec;

}
.shop1,.shop22,.shop23,.shop24{
    
    margin-top: 2%;
    width: 100%;
    height: 200px;
    
}
.all_footer{
    
    margin-left: 7%;
    display: flex;
    height:310px;
    justify-content: space-between;
    margin-right: 7%;
}
.shop2{
    padding-top: 7%;
    
    padding-bottom: 4%;
    border-bottom: 2px solid rgba(153, 141, 141, 0.781);
    margin-left: 5%;
    font-weight:800;
    margin-right:5% ;
    box-sizing: border-box;

    font-size: 20PX;
    font-family: 'Quicksand', sans-serif;
    
 
}
.shop3{
    margin-left: 6%;
    
    
}

.shop3 a{
    font-size: 16px;
    color: rgb(0, 1, 2);
    font-weight: 1;
    height: auto;
    text-decoration: none;

    font-family: 'Quicksand', sans-serif;
}
.last_foolr{
    
    height: 200px;
   
    display: flex;
    
    margin-left: 7%;
   
   
   
    justify-content: space-between;
    margin-right: 7%;
}
.shop5{
    width:50% ;
    
}
.shop7{
    border-bottom: 2px solid rgba(153, 141, 141, 0.781);
    margin-left: 19%;
    margin-right: 20%;
    padding-top: 7%;
    padding-bottom: 2%;

    font-weight:800;
    font-size: 20PX;
    font-family: 'Quicksand', sans-serif;

}
.folowhere{
    display: flex;
    width: 80%;

    
    margin-top: 2%;
    margin-left: 17%;
    
}
.folowhere2{
    width: 10%;
    margin-left: 3%;
    
}
.emailfoolter{
   
    width: 90%;
    margin-left: 19%;
}
.input_folter{
    padding: 1%;
    width: 51%;
    margin-top: 4%;
    
}
.input_folter2{
    padding: 2%;
    width: auto;
    
  
   
    color: rgb(245, 245, 245);
    background-color: rgb(0, 0, 0);
    margin-left: 2%;

    border: 1px solid rgb(247, 246, 246);
    
}
.input_folter2:hover{
    background-color: #eed8a7;
    color: black;
    
    border: 1px solid #e2a41d;
    
    
}
.copyrighit{
    margin-top: 3%;
    height: auto;
    width: 100%;
    border-top: 3px solid rgba(153, 141, 141, 0.781);
    display: flex;
    

}


@media screen and (max-width: 1100px) {
    .logo{
       position: relative;

   
    }

}

@media screen and (max-width: 800px) {
    .menu{
        display: none;
    }
    .logo{
        width: 50%;
    }

    .menuhamb{
        display: block;

    }
    .login{
        width: 40%;
        
       
       
    }
    



}
/* 700 height */



    
/* 600 height */

/* 900 heghit */
@media screen and (max-width: 1600px) and (max-height: 900px){
    .man{

        margin-top: 3%;
        
        margin-left:-3% ;
        height: 60vmin;
        
    }
    .kid{
        margin-top: 13%;
        
        height: 60vmin;
    }
    .woman{
        margin-top: 26%;
       
        height: 60vmin;
    }
}

@media screen and (max-width: 1300px) and (max-height: 900px){
    .imgback{
        margin-top:10% !important;
        width: 140% !important;
        margin-left: -10%;
        
    }
    .text001{
        position: relative;
        z-index: 11;
    }
    .shopdiv{
        margin-left: 0% !important;
        margin-top: 50% !important;

    }
    .parbackpack{
        position: relative;
        z-index: 11;
       
        
       
    }
    .backpacktext{
        position: relative;
        
        z-index: 11;
        
    } 
    .man{

        margin-top: 9%;
        width: 35%;
        margin-left:-10% ;
        height: 50vmin;
        
    }
    .kid{
        margin-top: 22%;
        width: 35%;
        height: 50vmin;
    }
    .woman{
        margin-top: 35%;
        width: 35%;
        height: 53vmin;
    }
}
@media screen and (max-width: 1200px) and (max-height: 900px){
    .imgback{
        margin-top:10% !important;
        width: 140% !important;
        margin-left: -10%;
        
    }
    .text001{
        position: relative;
        z-index: 11;
    }
    .shopdiv{
        margin-left: 0% !important;
        margin-top: 50% !important;

    }
    .parbackpack{
        position: relative;
        z-index: 11;
       
        
       
    }
    .backpacktext{
        position: relative;
        
        z-index: 11;
        
    }
    .man{

        margin-top: 9%;
        width: 35%;
        margin-left:-10% ;
        height: 50vmin;
        
    }
    .kid{
        margin-top: 22%;
        width: 35%;
        height: 50vmin;
    }
    .woman{
        margin-top: 35%;
        width: 35%;
        height: 53vmin;
    }
}
@media screen and (max-width: 1100px) and (max-height: 900px){
    .imgback{
        margin-top:10% !important;
        width: 140% !important;
        margin-left: -10%;
        
    }
    .text001{
        position: relative;
        z-index: 11;
    }
    .shopdiv{
        margin-left: 0% !important;
        margin-top: 50% !important;

    }
    .parbackpack{
        position: relative;
        z-index: 11;
       
        
       
    }
    .backpacktext{
        position: relative;
        
        z-index: 11;
        
    }
    .man{

        margin-top: 15%;
        width: 35%;
        margin-left:-10% ;
        height: 47vmin;
        
    }
    .kid{
        margin-top: 25%;
        width: 35%;
        height: 47vmin;
    }
    .woman{
        margin-top: 35%;
        width: 35%;
        height: 47vmin;
    }

}
@media screen and (max-width: 1000px) and (max-height: 900px){
    .troback{
        top: 100px;
         position: relative;
         z-index: 11;
         
     }
    .backpacktext{
        position: relative;
        
        z-index: 11;
        font-size: 40px !important;
    }
    .parbackpack{
        position: relative;
        z-index: 11;
        font-size: 24px !important;
        
       
    }
    .text001{
        position: relative;
        z-index: 11;
    }

    .imgback{
        margin-top:-20% !important;
        width: 160% !important;
        margin-left: -18%;
        
    }
    .shopdiv{
        margin-left: -110% !important;
        margin-top: 100% !important;

    }

    .main_divv{
        display: flex;
        flex-direction: column;
    }
    .man{
        width: 60%;
        height: 500px;
        margin-left: 15.6% !important;
        margin-top: 2% !important;
       margin: 0%;
      
       height: 30vh;
       background-position: 10%;
        
        
    }

    .kid{
        height: 30vh;
        
         width: 60%;
         margin-left: 15.6% !important;
         margin-top: 2% !important;
          
    }
    .woman{
       
        width: 60%;
        margin-left: 15.6% !important;
        margin-top: 2% !important;
       
         height: 30vh;
         
    }
    .mancluction{
        margin-top: 10%;
        padding: 8%;
    }
    .mancluction1{
        padding: 8%;
        margin-top: 5%;
    }
    .mancluction2{
        margin-top: 10%;
    }

}
    

@media screen and (max-width: 900px) and (max-height: 900px){
    .box{
        margin-top: 30%;
    }
    .shop2{
        font-size: 18px;
    }
    .Service{
        font-size: 32px;
    }
    .text001{
        position: relative;
        z-index: 11;
    }

    .backpacktext{
        position: relative;
        
        z-index: 11;
        font-size: 40px !important;
    }
    .parbackpack{
        position: relative;
        z-index: 11;
        font-size: 24px !important;
        
       
    }
    .troback{
        top: 160px;
         position: relative;
         z-index: 11;
         
     }
    .imgback{
        margin-top: 0% !important;
        width: 160% !important;
        margin-left: -20%;
       
}
.shopdiv{
    margin-left: -112%;
    margin-top: 120% !important;

}
.left_right_btn{
    margin-top: 30% !important;
}
.main_divv{
    display: flex;
    flex-direction: column;
}
.man{
    width: 80%;
    margin-left: 4% !important;
    margin-top: 2% !important;
   margin: 0%;
   height: 30vmin;
   background-position: 10%;
    
    
}

.kid{
     width: 80%;
     margin-left: 4% !important;
     margin-top: 3% !important;
     height: 30vmin;
}
.woman{
    width: 80%;
    margin-left: 4% !important;
    margin-top: 3% !important;
    
     height: 30vmin;
     
}
.mancluction1{
    margin-top: 7%;
    padding: 6%;
   
}
.mancluction2{
    margin-top: 7%;
    padding: 6%;
   
}

}

@media screen and (max-width: 800px) and (max-height: 900px){
    .box{
        margin-top: 30%;
    }
    .shop2{
        font-size: 16px;
    }
    .Service{
        font-size: 30px;
    }
    .text001{
        position: relative;
        z-index: 11;
    }

    .backpacktext{
        position: relative;
        
        z-index: 11;
        font-size: 40px !important;
    }
    .parbackpack{
        position: relative;
        z-index: 11;
        font-size: 24px !important;
        
       
    }
    .troback{
        top: 160px;
         position: relative;
         z-index: 11;
         
     }
    .imgback{
        margin-top: 0% !important;
        width: 190% !important;
        margin-left: -34%;
       
}
.shopdiv{
    margin-left: -110%;
    margin-top: 160% !important;

}
.left_right_btn{
    margin-top: 30% !important;
}
.main_divv{
    display: flex;
    flex-direction: column;
}
.man{
    width: 80%;
    margin-left: 4% !important;
    margin-top: 10% !important;
   margin: 0%;
   padding: 35px;
   background-position: 10%;
    
    
}

.kid{
     width: 80%;
     margin-left: 4% !important;
     margin-top:6% !important;
     padding: 35px;
}
.woman{
    width: 80%;
    margin-left: 4% !important;
    margin-top: 6% !important;
    padding: 35px;;
     
}
.mancluction{
    margin-top: 0%;
}
.mancluction1{
    margin-top: 0%;
}
.mancluction2{
    margin-top: 0%;
}


}
@media screen and (max-width: 700px) and (max-height: 900px){
    .box{
        margin-top: 30%;
    }
    .shop2{
        font-size: 14px;
    }
    .Service{
        font-size: 26px;
    }
    .backpacktext{
        position: relative;
        
        z-index: 11;
        font-size: 40px !important;
    }
    .parbackpack{
        position: relative;
        z-index: 11;
        font-size: 24px !important;
        
       
    }
    .troback{
        top: 160px;
         position: relative;
         z-index: 11;
         
     }
    .imgback{
        margin-top: 30% !important;
        width: 200% !important;
        margin-left: -34%;
       
}
.shopdiv{
    margin-left: -110%;
    margin-top: 210% !important;

}
.left_right_btn{
    margin-top: 30% !important;
}
    .man{
        width: 90%;
        margin-left: 0% !important;
        margin-top: 3% !important;
       margin: 0%;
       padding: 35px;
       background-position: 10%;
        
        
    }
    
    .kid{
         width: 90%;
         margin-left: 0% !important;
         margin-top: 6% !important;
         padding: 35px;
    }
    .woman{
        width: 90%;
        margin-left: 0% !important;
        margin-top: 6% !important;
        padding: 25px;
         
    }

    .main_divv{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) and (max-height: 900px){
    .maibservice1{
        margin-left: -2%;
        
    }

         /* FOLLTER */
    
         .all_footer,.last_foolr{
            display: flex;
            flex-wrap: wrap;
        }
      
        .shop3 a{
            font-size:11px;
        }
      
        .shop2,.shop7{
            font-size: 16px;
           
        }
        .shop1{
            width: 50%  ;
            
           
            
            
        }
        .last_foolr{
            margin-left: 0%;
            
        }
        .shop22{
            width: 50% 
        }
        
        .shop24,.shop23{
            width: 50%  ;
            margin-top:-8%;
        }
        .folowhere2{
            width: 20%;
        }
        .shop5{
            margin-top:10%;
        }
    
    
    
        .test24{
            margin-left: -2% !important
        }
        .textService{
            font-size: 15px;
        }
        .sideonebox{
            width: 100%;
            margin-top: 11%;
        }
        .sidetwobox{
            width: 100%;
            margin-top: 11%;
        }
        .box{
            display: flex;
            flex-direction: column;
        }
        .Service{
            font-size: 20px;
        }
    
    .backpacktext{
        position: relative;
        
        z-index: 11;
        font-size: 40px !important;
    }
    .parbackpack{
        position: relative;
        z-index: 11;
        font-size: 24px !important;
        
       
    }

    .troback{
        top: 160px;
         position: relative;
         z-index: 11;
         
     }
    .imgback{
        margin-top: 30% !important;
        width: 200% !important;
        margin-left: -34%;
       
}
.shopdiv{
    margin-left: -110%;
    margin-top: 220% !important;

}
.left_right_btn{
    margin-top: 30% !important;
}
.main_divv{
    display: flex;
    flex-direction: column;
}
.man{
    width: 100%;
    margin-left: -6% !important;
    margin-top: 8% !important;
   margin: 0%;
  height: 200vmax;
   background-position: 10%;
    
    
}

.kid{
    height: 200vmax;
     width: 100%;
     margin-left: -6% !important;
     margin-top: 12% !important;
     padding: 6vh;
}
.woman{
    height: 200vmax;
    width: 100%;
    margin-left: -6% !important;
    margin-top: 12% !important;
    padding: 2vh;
     
}


}

@media screen and (max-width: 400px) and (max-height: 900px){
         /* FOLLTER */
         .maibservice1{
            margin-left: -2%;
            
        }
    
         .all_footer,.last_foolr{
            display: flex;
            flex-wrap: wrap;
        }
      
        .shop3 a{
            font-size:11px;
        }
      
        .shop2,.shop7{
            font-size: 16px;
           
        }
        .shop1{
            width: 50%  ;
            
           
            
            
        }
        .last_foolr{
            margin-left: 0%;
            
        }
        .shop22{
            width: 50% 
        }
        
        .shop24,.shop23{
            width: 50%  ;
            margin-top:-8%;
        }
        .folowhere2{
            width: 20%;
        }
        .shop5{
            margin-top:10%;
        }
    
    
    
        .test24{
            margin-left: -2% !important
        }
        .textService{
            font-size: 15px;
        }
        .sideonebox{
            width: 100%;
            margin-top: 11%;
        }
        .sidetwobox{
            width: 100%;
            margin-top: 11%;
        }
        .box{
            display: flex;
            flex-direction: column;
        }
        .Service{
            font-size: 20px;
        }
    
    
        /* HOME PAGE 1 */
    .imgback{
        margin-top: 90% !important;
        width: 200% !important;
        margin-left: -34%;
       
}
.shopdiv{
    margin-left: -110%;
    margin-top: 300% !important;

}
.left_right_btn{
    margin-top: 30% !important;
}
.main_divv{
    display: flex;
    flex-direction: column;
   
}
.man{
    width: 100%;
    margin-left: -6% !important;
    margin-top: 20% !important;
   margin: 0%;
    
   padding: 20% !important;
 
   background-position: 10%;
    
    
}
.btnvv1{
font-size: 2vh !important;
}

.kid{
    padding: 20% !important;
   
     width: 100%;
     margin-left: -6% !important;
     margin-top: 17% !important;
      
}

.woman{
  
    padding: 20% !important;
   
    width: 100%;
    margin-left: -6% !important;
    margin-top: 16% !important;
    
     
}



}



/* 800 height */
@media screen and (max-width: 1400px) and (max-height: 800px){
    .imgback{
        
        width: 120% !important;
        margin-left: -6%;
       
}
.man{
    margin-left: -3.5%;
    margin-top: 5%;
}
.kid{
    margin-top: 14%;
}
.woman{
    
    margin-top: 24%;
}
.mancluction2{
    margin-top: 80%;
} 
.text001{
    position: relative;
    z-index: 11;
}
.shopdiv{
    margin-left: 0% ;
    margin-top: 20%  !important;

}
}
@media screen and (max-width: 1300px) and (max-height: 800px){
    .shopdiv{
        margin-left: 0% !important;
        margin-top: -22% !important;

    }
    .man{
        margin-top: 2%;
        height: 60vmin;
        margin-left: -12%; width: 35%;
    }
    .kid{
        margin-top: 14%;
        width: 35%;
        height: 60vmin;
    }
    .woman{
        margin-top: 29%;
        width: 35%;
        height: 60vmin;


}
.text001{
    position: relative;
    z-index: 11;
}
.mancluction2{
    margin-top: 80%;
} 
}
@media screen and (max-width: 1200px) and (max-height: 800px){
    .man{
        margin-top: 4%;
        height: 60vmin;
        margin-left: -12%; width: 35%;
    }
    .kid{
        margin-top: 17%;
        width: 35%;
        height: 57vmin;
    }
    .woman{
        margin-top: 30%;
        width: 35%;
        height: 60vmin;

    }
    .mancluction2{
        margin-top: 80%;
    }
    .imgback{
        
        width: 120% !important;
        margin-left: -6%;
       

}
}
@media screen and (max-width: 1100px) and (max-height: 800px){
    .man{
        margin-top: 10%;
        height: 50vmin;
        margin-left: -12%; width: 35%;
    }
    .kid{
        margin-top: 25%;
        width: 35%;
        height: 50vmin;
    }
    .woman{
        margin-top: 40%;
        width: 35%;
        height: 50vmin;

    }
    .mancluction2{
        margin-top: 80%;
    }   
     .leftandright{
        margin-left: -210% !important;
    }  
    .imgback{
        margin-top:13% !important;
        width: 130% !important;
        margin-left: -6%;
        
    }
    .shopdiv{
        margin-left: -115% !important;
        margin-top: 50%;

    }
    
    

}

@media screen and (max-width: 1100px) and (max-height: 800px){
    .shopdiv{
        margin-left: 0% !important;
        margin-top: 0%;

    }
    .text001{
        position: relative;
        z-index: 11;
    }


}

@media screen and (max-width: 1000px) and (max-height: 800px){
    .shop2{
        font-size: 18px;
    }
    .Service{
        font-size: 30px;
    }
    .box{
        margin-top: 22%;
    }
    .troback{
        top: 100px;
         position: relative;
         z-index: 11;
         
     }
    .backpacktext{
        position: relative;
        
        z-index: 11;
        font-size: 40px !important;
    }
    .parbackpack{
        position: relative;
        z-index: 11;
        font-size: 24px !important;
        
       
    }
    .text001{
        position: relative;
        z-index: 11;
    }

    .imgback{
        margin-top:-20% !important;
        width: 150% !important;
        margin-left: -17%;
        
    }
    .shopdiv{
        margin-left: -114% !important;
        margin-top: 90% !important;

    }

    .main_divv{
        display: flex;
        flex-direction: column;
    }
    .man{
        width: 60%;
        height: 500px;
        margin-left: 15.6% !important;
        margin-top: 2% !important;
       margin: 0%;
      
       height: 30vh;
       background-position: 10%;
        
        
    }

    .kid{
        height: 30vh;
        
         width: 60%;
         margin-left: 15.6% !important;
         margin-top: 2% !important;
          
    }
    .woman{
       
        width: 60%;
        margin-left: 15.6% !important;
        margin-top: 2% !important;
       
         height: 30vh;
         
    }
    .mancluction{
        margin-top: 10%;
        padding: 8%;
    }
    .mancluction1{
        padding: 8%;
        margin-top: 5%;
    }
    .mancluction2{
        margin-top: 10%;
    }

}

@media screen and (max-width: 800px) and (max-height: 800px){
    .shop2{
        font-size: 16px;
    }
    .Service{
        font-size: 30px;
    }
    .box{
        margin-top: 22%;
    }
    .backpacktext{
        position: relative;
        
        z-index: 11;
        font-size: 40px !important;
    }
    .parbackpack{
        position: relative;
        z-index: 11;
        font-size: 24px !important;
        
       
    }
    .text001{
        position: relative;
        z-index: 11;
    }

    .imgback{
        margin-top:0% !important;
        width: 150% !important;
        margin-left: -11%;
        
    }
    .shopdiv{
        margin-left: -105% !important;
        margin-top: 100% !important;

    }
    .main_divv{
        display: flex;
        flex-direction: column;
    }
    .man{
        width: 80%;
        margin-left: 4% !important;
        margin-top: 2% !important;
       margin: 0%;
       padding: 6vh;
       background-position: 10%;
        
        
    }

    .kid{
         width: 80%;
         margin-left: 4% !important;
         margin-top: 2% !important;
          padding:6vh !important;
    }
    .woman{
        width: 80%;
        margin-left: 4% !important;
        margin-top: 2% !important;
         padding:6vh;
         
    }
    .mancluction1{
        margin-top: -4% ;
        padding: 10%;
    }
    .mancluction{
        margin-top: -4% ;
        padding: 10%;
    }
    .mancluction2{
        margin-top: -4% ;
        padding: 10%;
    }
    .troback{
        top: 130px;
         position: relative;
         z-index: 11;
         
     }
}

@media screen and (max-width: 700px) and (max-height: 800px){
    .shop2{
        font-size: 14px;
    }
    .Service{
        font-size: 28px;
    }

    .backpacktext{
        position: relative;
        
        z-index: 11;
        font-size: 40px !important;
    }
    .parbackpack{
        position: relative;
        z-index: 11;
        font-size: 24px !important;
        
       
    }
    .text001{
        position: relative;
        z-index: 11;
    }

    .imgback{
        margin-top:-20% !important;
        width: 190% !important;
        margin-left: -35%;
        
    }


    .main_divv{
        display: flex;
        flex-direction: column;
    }
    .man{
        width: 100%;
        margin-left: -6% !important;
        margin-top: 3% !important;
       margin: 0%;
       padding: 6vh;
       background-position: 10%;
        
        
    }
    .troback{
        top: 130px;
         position: relative;
         z-index: 11;
         
     }

    .kid{
         width: 100%;
         margin-left: -6% !important;
         margin-top: 4% !important;
          padding:6vh !important;
    }
    .woman{
        width: 100%;
        margin-left: -6% !important;
        margin-top: 4% !important;
         padding:6vh;
         
    }
    .mancluction1{
        margin-top: -4% ;
        padding: 10%;
    }
    .mancluction{
        margin-top: -4% ;
        padding: 10%;
    }
    .mancluction2{
        margin-top: -4% ;
        padding: 10%;
    }
    .shopne{
        margin-left: -210% !important;
        margin-top: -210% !important;
    }
    .shopdiv{
        margin-left: -110% !important;
        margin-top:130%!important;

    }



}


@media screen and (max-width: 600px) and (max-height: 800px){
    .maibservice1{
        margin-left: -2%;
        
    }

         /* FOLLTER */
    
         .all_footer,.last_foolr{
            display: flex;
            flex-wrap: wrap;
        }
      
        .shop3 a{
            font-size:11px;
        }
      
        .shop2,.shop7{
            font-size: 16px;
           
        }
        .shop1{
            width: 50%  ;
            
           
            
            
        }
        .last_foolr{
            margin-left: 0%;
            
        }
        .shop22{
            width: 50% 
        }
        
        .shop24,.shop23{
            width: 50%  ;
            margin-top:-8%;
        }
        .folowhere2{
            width: 20%;
        }
        .shop5{
            margin-top:10%;
        }
    
    
    
        .test24{
            margin-left: -2% !important
        }
        .textService{
            font-size: 15px;
        }
        .sideonebox{
            width: 100%;
            margin-top: 11%;
        }
        .sidetwobox{
            width: 100%;
            margin-top: 11%;
        }
        .box{
            display: flex;
            flex-direction: column;
        }
        .Service{
            font-size: 20px;
        }
    
    
        /* HOME PAGE 1 */


    .shopne{
        
        margin-left: -210% !important;
        margin-top: -210% !important;
    }  

    .troback{
       top: 130px;
        position: relative;
        z-index: 11;
        
    }
    .leftandright{
        margin-left: -210% !important;
    }  
    .imgback{
        margin-top:30% !important;
        width: 190% !important;
        margin-left: -35%;
        
    }
    .shopdiv{
        margin-left: -110% !important;
        margin-top:200%!important;

    }

    .main_divv{
        display: flex;
        flex-direction: column;
    }
    .man{
        width: 100%;
        margin-left: -6% !important;
        margin-top: 4% !important;
       margin: 0%;
       padding: 5vh;
       background-position: 10%;
        
        
    }

    .kid{
         width: 100%;
         margin-left: -6% !important;
         margin-top: 4% !important;
          padding:1vh;
    }
    .woman{
        width: 100%;
        margin-left: -6% !important;
        margin-top: 4% !important;
         padding:6vh;
         
    }
    .mancluction1{
        margin-top: 2%;
        padding: 10%;
    }
    .mancluction2{
        margin-top: 2%;
        padding: 10%;
    }
    .mancluction{
        margin-top: 2%;
        padding: 10%;
    }





}

@media screen and (max-width: 400px) and (max-height: 800px){
    .maibservice1{
        margin-left: -2%;
        
    }
     /* FOLLTER */
    
    .all_footer,.last_foolr{
        display: flex;
        flex-wrap: wrap;
    }
  
    .shop3 a{
        font-size:11px;
    }
  
    .shop2,.shop7{
        font-size: 16px;
       
    }
    .shop1{
        width: 50%  ;

    }
    .last_foolr{
        margin-left: 0%;
        
    }
    .shop22{
        width: 50% 
    }
    
    .shop24,.shop23{
        width: 50%  ;
        margin-top:-8%;
    }
    .folowhere2{
        width: 20%;
    }
    .shop5{
        margin-top:10%;
    }



    .test24{
        margin-left: -2% !important
    }
    .textService{
        font-size: 15px;
    }
    .sideonebox{
        width: 100%;
        margin-top: 11%;
    }
    .sidetwobox{
        width: 100%;
        margin-top: 11%;
    }
    .box{
        display: flex;
        flex-direction: column;
    }
    .Service{
        font-size: 20px;
    }


    /* HOME PAGE 1 */
    .btnvv1{
        font-size: 2vh !important;
    }
    .shopdiv{
        margin-left: -120% !important;
        margin-top: 220%;

    }

    .backpacktext{
        position: relative;
        
        z-index: 11;
        font-size: 40px !important;
    }
    .parbackpack{
        position: relative;
        z-index: 11;
        font-size: 24px !important;
        
       
    }
    .btnshop{
        font-size: 200% !important;
        padding: 2%;
      
    }
    .text001{
        position: relative;
        z-index: 11;
    }
    .troback{
        margin-top:120% !important;
        position: relative;
        z-index: 11;
        
    }
    .imgback{
        margin-top:50% !important;
        width: 250% !important;
        margin-left: -60%;
        
    }
    .left_right_btn{
        margin-top:20% !important;
        margin-right: -30% !important;

    }
    .main_divv{
        display: flex;
        flex-direction: column;
    }
    .man{
        width: 100%;
        margin-left: -6% !important;
        margin-top: 10% !important;
       margin: 0%;
       padding: 7vh;
       background-position: 10%;
        
        
    }

    .kid{
         width: 100%;
         margin-left: -6% !important;
         margin-top: 10% !important;
          padding:5vh;
    }
    .woman{
        width: 100%;
        margin-left: -6% !important;
        margin-top: 10% !important;
         padding:7vh;
    }

    
    
}
/* height 700 px */
@media screen and (max-width: 1500px) and (max-height: 700px){
    .man{
        margin-top: 2%;
    }
    .kid{
        margin-top: 10%;
    }
    .woman{
        margin-top: 19%;

    }
    .textService{
        font-size: 18px 

}
.box{
    margin-top: 6%;
}

}
@media screen and (max-width: 1400px) and (max-height: 700px){
    .shopdiv{
      
        margin-top: 0% !important;
    
    }
    .imgback{
        margin-top: -10% !important;
}
.mancluction2{
    margin-top: 74%;
}
}
@media screen and (max-width: 1300px) and (max-height: 700px){
    .imgback{
        margin-top:-7% !important;
        width: 120% !important;
        margin-left: 2%;
        
    }

    .man{
        margin-top: 2% !important;
        height: 65vmin;
    }
    .kid{
        margin-top: 8% !important;
        height: 65vmin;
    }
    .woman{
         margin-top: 22% !important;
         height: 65vmin;
    }
    .mancluction2{
        margin-top: 74%;
    }
    .textService{
        font-size: 16px 

}
.box{
    margin-top: 9%;
}

}

@media screen and (max-width: 1200px) and (max-height: 700px){
    .imgback{
        margin-top:-16% !important;
    }
    .man{
        margin-top: 4% !important;
        height: 63vmin;
    }
    .kid{
        margin-top: 16% !important;
        height: 63vmin;
    }
    .woman{
        margin-top: 26% !important;
        height: 63vmin;
    }
    .mancluction2{
        margin-top: 64%;
    }
    .textService{
        font-size: 17px !important;

}
}
@media screen and (max-width: 1100px) and (max-height: 700px){
    .imgback{
        margin-top:-1% !important;
        width: 130% !important;
        margin-left: -0%;
        
    }
    .shopdiv{
        
        margin-top: 20% !important;

    }
    .man{
        margin-top: 2%;
        height: 63vmin;
    }
    .kid{
        margin-top: 12%;
        height: 63vmin;
    }
    .woman{
        margin-top: 22%;
        height: 63vmin;
    }
    .mancluction2{
        margin-top: 90%;
    }
    .textService{
        font-size: 14px 

}
}
@media screen and (max-width: 1000px) and (max-height: 700px){
    .box{
        margin-top: 13% ;
    }
    .mancluction2,.mancluction1,.mancluction{
        margin-top: 0% ;
        padding: 10%;
    }
    .Service{
        font-size: 27px !important;
       
    }
    .textService{
        font-size: 1.6vw 

}
.shopdiv{
    margin-left: 2% !important;
    margin-top: 10% !important;

}
.troback{
    top: 10px;
    position: relative;
    z-index: 11;
    
}
.woman{
    margin-top: 2% !important;
    height: 30% !important;
}
.man{
    margin-top: 2% !important;
    height: 30% !important;
}
.kid{
    margin-top: 2% !important;
    height: 30% !important;
}

}
@media screen and (max-width: 900px) and (max-height: 700px){
    .imgback{
        margin-top:-12% !important;
        width: 125% !important;
        margin-left: 2%;
        
    }
    .shopdiv{
        margin-left: -106% !important;
        margin-top: 60% !important;

    }
    .mancluction2,.mancluction1,.mancluction{
        margin-top: 1% ;
        padding: 11%;
    }
    .Service{
        font-size: 26px !important;
       
    }
    .textService{
        font-size: 16px 

}
.box{
    margin-top: 20% ;
}
.woman{
    margin-top: 3% !important;
    height: 30% !important;
}
.man{
    margin-top: 3% !important;
    height: 30% !important;
}
.kid{
    margin-top: 3% !important;
    height: 30% !important;
}
}
@media screen and (max-width: 800px) and (max-height: 700px){
    .imgback{
        margin-top:-12% !important;
        width: 120% !important;
        margin-left: -0%;
        
    }
    .shopdiv{
        margin-left: -110% !important;
        margin-top: 50% !important;

    }
    .mancluction2,.mancluction1,.mancluction{
        margin-top: -6% ;
        padding: 9%;
    }
    .Service{
        font-size: 26px !important;
       
    }
    .textService{
        font-size: 13px !important;

}
.box{
    margin-top: 25% ;
}
.woman{
    margin-top: 3% !important;
    height: 30% !important;
}
.man{
    margin-top: 3% !important;
    height: 30% !important;
}
.kid{
    margin-top: 3% !important;
    height: 30% !important;
}
}
@media screen and (max-width: 700px) and (max-height: 700px){
.imgback{
    margin-top:-12% !important;
    width: 140% !important;
    margin-left: -9%;
    
}
.shopdiv{
    margin-left: -110% !important;
    margin-top: 76% !important;

}
.mancluction2,.mancluction1,.mancluction{
    margin-top: -7% ;
    padding: 10%;
}
.box{
    margin-top: 26% ;
}
.Service{
    font-size: 22px !important;
   
}
.textService{
    font-size: 17px 

}
.maibservice{
margin-right: 2%;
}
.woman{
    margin-top: 3% !important;
    height: 30% !important;
}
.man{
    margin-top: 3% !important;
    height: 30% !important;
}
.kid{
    margin-top: 3% !important;
    height: 30% !important;
}

}
@media screen and (max-width: 600px) and (max-height: 700px){
.imgback{
    margin-top:20% !important;
    width: 150% !important;
    margin-left: -13%;
    
}
.text001{
    position: relative;
    z-index: 121;
}
.troback{
    margin-top:120% !important;
    position: relative;
    z-index: 11;
    top: -40px;
    
}
.parbackpack{
    position: relative;
    z-index: 11;
    font-size: 24px !important;
    
   
}
.shopdiv{
    margin-left: -110% !important;
    margin-top: 50% !important;

}
.mancluction2,.mancluction1,.mancluction{
    margin-top: -7% ;
}
.sideonebox{
    height: 50px;
}
.box{
    margin-top: 4% ;
}
.Service{
    font-size: 19px !important;
   
}
.textService{
    font-size: 13px 

}
.maibservice{
margin-right: 2%;
}
.woman{
    margin-top: 3% !important;
    height: 35% !important;
}
.man{
    margin-top: 3% !important;
    height: 35% !important;
}
.kid{
    margin-top: 3% !important;
    height: 35% !important;
}
.sidetwobox{margin-top: 13%;
    
}
.sideonebox{
margin-bottom: 2%;
}

}
@media screen and (max-width: 500px) and (max-height: 700px){
    .mancluction2,.mancluction1,.mancluction{
        margin-top: -5% ;
    }
    .box{
        margin-top: 5% ;
    }
    .Service{
        font-size: 19px !important;
       
    }
    .textService{
        font-size: 13px 

}
.maibservice{
    margin-right: 2%;
}
.woman{
    margin-top: 5% !important;
    height: 45% !important;
}
.man{
    margin-top: 5% !important;
    height: 69% !important;
}
.kid{
    margin-top: 5% !important;
    height: 65% !important;
}
.Service{
    font-size: 19px !important;
   
}
.textService{
    font-size: 13px !important;

}
.sidetwobox{margin-top: 20%;
    
}
.sideonebox{
margin-bottom: 2%;
}
.maibservice{
margin-right: 2%;
}
.box{
margin-top: 4% ;
}

}

@media screen and (max-width: 400px) and (max-height: 700px){
    .shopdiv{
        margin-left: -120% !important;
        margin-top: 170% !important;
    
    }
    .imgback{
        margin-top: 50% !important;
        width: 190% !important;
        margin-left: -34%;
       
}
    .woman{
        margin-top: 5% !important;
        height: 50% !important;
    }
    .man{
        margin-top: 5% !important;
        height: 69% !important;
    }
    .kid{
        margin-top: 5% !important;
        height: 65% !important;
    }
    .Service{
        font-size: 19px !important;
       
    }
    .textService{
        font-size: 13px !important;

}
.sidetwobox{margin-top: 20%;
        
}
.sideonebox{
    margin-bottom: 2%;
}
.maibservice{
    margin-right: 2%;
}
.box{
    margin-top: 9% ;
}
}
/* height 600 px */
@media screen and (max-width: 1500px) and (max-height: 600px){
    .Service{
        font-size: 32px !important;
       
    }
    .imgback{
        margin-top: -10% !important;
    }
    .shopdiv{
      
        margin-top: -20% !important;
    
    }
    .mancluction2{
        margin-top: 51%;
    }
    .mancluction1{
        margin-top: 30%;
    }
}
@media screen and (max-width: 1400px) and (max-height: 600px){
    .imgback{
        margin-top: -20% !important;
    }
    .shopdiv{
      
        margin-top: -10% !important;
    
    }
    .mancluction2{
        margin-top: 54%;
    }
}
@media screen and (max-width: 1300px) and (max-height: 600px){
    .imgback{
        margin-top:-18% !important;
        width: 120% !important;
        margin-left: 2%;
        
    }
    .man{
        margin-top: 2% !important;
        height: 63vmin;
    }
    .kid{
        margin-top: 8% !important;
        height: 63vmin;
    }
    .woman{
         margin-top: 22% !important;
        height: 55vmin;
    }
    .mancluction2{
        margin-top: 44%;
    }
    .textService{
        font-size: 16px 

}
.box{
    margin-top: 9%;
}

}
@media screen and (max-width: 1200px) and (max-height: 600px){
    .imgback{
        margin-top:-16% !important;
    }
    .man{
        margin-top: 2% !important;
        height: 63vmin;
    }
    .kid{
        margin-top: 8% !important;
        height: 63vmin;
    }
    .woman{
         margin-top: 22% !important;
        height: 63vmin;
    }
    .mancluction2{
        margin-top: 64%;
    }
    .box{
        margin-top: 9%;
    }
}
@media screen and (max-width: 1100px) and (max-height: 600px){
    .imgback{
        margin-top:-12% !important;
        width: 130% !important;
        margin-left: -0%;
        
    }
    .man{
        margin-top: 2%;
        height: 63vmin;
    }
    .kid{
        margin-top: 11% !important;
        height: 63vmin;
    }
    .woman{
        margin-top: 22% !important;
        height: 63vmin;
    }
    .mancluction2{
        margin-top: 73%;
    }
    .textService{
        font-size: 14px 

}
.box{
    margin-top: 9%;
}
}
@media screen and (max-width: 1000px) and (max-height: 600px){
    .box{
        margin-top: 13% ;
    }
    .mancluction2,.mancluction1,.mancluction{
        margin-top: 0% ;
        padding: 7%;
    }
    .Service{
        font-size: 23px !important;
       
    }
    .textService{
        font-size: 11px 

}
.shopdiv{
    margin-left: 0% !important;
    margin-top: 0% !important;

}
.troback{
    top: 10px;
    position: relative;
    z-index: 11;
    
}

}
@media screen and (max-width: 900px) and (max-height: 600px){
    .imgback{
        margin-top:-12% !important;
        width: 110% !important;
        margin-left: 7%;
        
    }
    .shopdiv{
        margin-left: -106% !important;
        margin-top: 30% !important;

    }
    .mancluction2,.mancluction1,.mancluction{
        margin-top: 1% ;
        padding: 8%;
    }
    .Service{
        font-size: 26px !important;
       
    }
    .textService{
        font-size: 16px 

}
.box{
    margin-top: 10% ;
}
.man{
margin-top: 1vh !important;
}
.kid{
   margin-top: 1vh  !important;
}
.woman{
    margin-top: 1vh  !important;
}
}
@media screen and (max-width: 800px) and (max-height: 600px){
    .man{
        margin-top: 3% !important;
        height: 30% !important;
    }
    .kid{
        margin-top: 3% !important;
        height: 30% !important;
    }
    .woman{
        margin-top: 3% !important;
        height: 30% !important;
       
        
    }
    .imgback{
        margin-top:-12% !important;
        width: 120% !important;
        margin-left: -0%;
        
    }
    .shopdiv{
        margin-left: -110% !important;
        margin-top: 50% !important;

    }
    .mancluction2,.mancluction1,.mancluction{
        margin-top: -8% ;
        padding: 9%;
    }
    .Service{
        font-size: 19px !important;
       
    }
    .textService{
        font-size: 15px 

}
.box{
    margin-top: 17% ;
}

}
@media screen and (max-width: 700px) and (max-height: 600px){
    .man{
        margin-top: 3% !important;
        height: 30% !important;
    }
    .kid{
        margin-top: 3% !important;
        height: 30% !important;
    }
    .woman{
        margin-top: 3% !important;
        height: 30% !important;
       
        
    }
    .imgback{
        margin-top:-12% !important;
        width: 140% !important;
        margin-left: -9%;
        
    }
    .shopdiv{
        margin-left: -110% !important;
        margin-top: 76% !important;

    }
    .mancluction2,.mancluction1,.mancluction{
        margin-top: -7% ;
        padding: 9%;
    }
    .box{
        margin-top: 26% ;
    }
    .Service{
        font-size: 19px !important;
       
    }
    .textService{
        font-size: 13px 

}
.maibservice{
    margin-right: 2%;
}

}
@media screen and (max-width: 600px) and (max-height: 600px){
    .man{
        margin-top: 3% !important;
        height: 30% !important;
    }
    .kid{
        margin-top: 3% !important;
        height: 30% !important;
    }
    .woman{
        margin-top: 3% !important;
        height: 30% !important;
       
        
    }
    .imgback{
        margin-top:-12% !important;
        width: 150% !important;
        margin-left: -15%;
        
    }
    .text001{
        position: relative;
        z-index: 121;
    }
    .troback{
        margin-top:120% !important;
        position: relative;
        z-index: 11;
        top: -40px;
        
    }
    .parbackpack{
        position: relative;
        z-index: 11;
        font-size: 24px !important;
        
       
    }
    .shopdiv{
        margin-left: -110% !important;
        margin-top: 4% !important;

    }
    .mancluction2,.mancluction1,.mancluction{
        margin-top: -7% ;
    }
    .sideonebox{
        height: 50px;
    }
    .box{
        margin-top: -5% ;
    }
    .Service{
        font-size: 19px !important;
       
    }
    .textService{
        font-size: 13px 

}
.maibservice{
    margin-right: 2%;
}

.sideonebox{
    margin-top: 8%;
    margin-bottom: 5%;
}
.sidetwobox{
    margin-top: 8%;
    margin-bottom: 5%;

}

}
@media screen and (max-width: 500px) and (max-height: 600px){
    .man{
        margin-top: 2% !important;
        height: 38% !important;
    }
    .kid{
        margin-top: 2% !important;
        height: 38% !important;
    }
    .woman{
        margin-top: 2% !important;
        height: 38% !important;
       
        
    }
    .mancluction2,.mancluction1,.mancluction{
        margin-top: -5% ;
    }
    .box{
        margin-top: -5% ;
    }
    .Service{
        font-size: 19px !important;
       
    }
    .textService{
        font-size: 13px 

}
.maibservice{
    margin-right: 2%;
}
.sideonebox{
    margin-top: 11%;
    margin-bottom: 5%;
}
.sidetwobox{
    margin-top: 11%;
    margin-bottom: 5%;

}

    
}
@media screen and (max-width: 400px) and (max-height: 600px){
    .imgback{
        margin-top:35% !important;
        width: 200% !important;
        margin-left: -40%;
        
    }
    .sidetwobox{margin-top: 15%;
        
    }
    .sideonebox{
        margin-bottom: 2%;
    }
    .shopdiv{
        margin-left: -130%  !important;
        margin-top: 120% !important;

    }
    .man{
        margin-top: 3% !important;
        height: 50% !important;
    }
    .kid{
        margin-top: 3% !important;
        height: 60% !important;
    }
    .woman{
        margin-top: 3% !important;
        height: 45% !important;
       
        
    }
    .box{
        margin-top: 4% ;
    }
    .Service{
        font-size: 19px !important;
       
    }
    .textService{
        font-size: 13px 

}
.maibservice{
    margin-right: 2%;
}
}



/* for iphone height 1500  */
@media screen and (max-width: 1500px) and (max-height: 1500px){

         .logo1{
            position: absolute;
             top: -51%;
             width: 20%;
             
             
             
            }
            header{
                height: 69px;
                
                   }
            #imglogo{
                height: 140px;
            }
}
/* for iphone height 600  */
@media screen and (max-width: 1500px) and (max-height: 600px){

    .logo1{
       position: absolute;
        top: -65%;
        width: 20%;
        
        
        
       }
       .imgback{
        position: absolute;
        top: 19%!important
        
       }
       header{
        height: 65px;
        
           }
       #imglogo{
           height: 150px;
       }
}
/* for iphone  height 500 */
@media screen and (max-width: 1500px) and (max-height: 500px){

    .logo1{
       position: absolute;
        top: -50%;
        width: 20%;
        
        
        
       }
       header{
        height: 65px
        
           }
           .imgback{
            position: absolute;
            top: 19%!important
            
           }
       #imglogo{
           height: 130px;
       }
}

/* for iphone  height 400  */
@media screen and (max-width: 1500px) and (max-height: 400px){

    .logo1{
       position: absolute;
        top: -44%;
        width: 20%;
        
        
        
       }
       .imgback{
        position: absolute;
        top: 19%!important
        
       }
       
       header{
    height: 60px;
    
       }

       #imglogo{
           height: 110px;
       }
}





